<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <variable name="logDir" value="${basedir}/Logs/${date:format=yyyy-MM-dd}" />
        <variable name="simpleLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}." />
        <variable name="detailedLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}. ${exception:format=ToString}" />
        <extensions>
            <add assembly="NLog.Targets.GelfStandard"/>
        </extensions>
        <targets>
            <target name="infoFileLog" xsi:type="File" fileName="${logDir}/info.log" layout="${simpleLayout}" />
            <target name="infoConsoleLog" xsi:type="ColoredConsole" layout="${simpleLayout}" />

            <target name="warnFileLog" xsi:type="File" fileName="${logDir}/warn.log" layout="${simpleLayout}" />
            <target name="warnConsoleLog" xsi:type="ColoredConsole" layout="${simpleLayout}" />

            <target name="errorFileLog" xsi:type="File" fileName="${logDir}/error.log" layout="${detailedLayout}" />
            <target name="errorConsoleLog" xsi:type="ColoredConsole" layout="${detailedLayout}"/>

            <target name="fatalFileLog" xsi:type="File" fileName="${logDir}/fatal.log" layout="${detailedLayout}" />
            <target name="fatalConsoleLog" xsi:type="ColoredConsole" layout="${detailedLayout}"/>
        </targets>

        <rules>
            <logger name="*" levels="Info,Debug" writeTo="infoFileLog" />
            <logger name="*" levels="Info,Debug" writeTo="infoConsoleLog" />

            <logger name="*" levels="Warn" writeTo="warnFileLog" />
            <logger name="*" levels="Warn" writeTo="warnConsoleLog" />

            <logger name="*" levels="Error" writeTo="errorFileLog" />
            <logger name="*" levels="Error" writeTo="errorConsoleLog" />

            <logger name="*" levels="Fatal" writeTo="fatalFileLog" />
            <logger name="*" levels="Fatal" writeTo="fatalConsoleLog" />
        </rules>
    </nlog>
</configuration>